* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: black;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 767px) {
	img {
	weight: 100%;
	}
